.contact__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;

    input, textarea {
        margin-bottom: 1rem;
    }

    @media screen and (min-width: 780px) {
        max-width: 35rem;
        margin: 0 auto;
    }
}