.navbar {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 50%;
    box-sizing: border-box;
    height: 100vh;
    background-color: #bd7979;

    .navbar__list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        flex-direction: column;
        box-sizing: border-box;

        .navbar__item {
            border-bottom: 2px solid white;
            @media screen and (min-width: 780px) {
                border-bottom: initial;
            }
        }

        .navbar__item_link {
            color: white;
            box-sizing: border-box;
            width: 100%;
            display: inline-block;
            padding: 1rem;
            font-size: 2rem;
            text-decoration: none;

            @media screen and (min-width: 780px) {
                border-left: 2px solid white;
            }
        }

        @media screen and (min-width: 780px) {
            border-bottom: 2px solid white;
            border-top: 2px solid white;
            position: relative;
            flex-direction: row;
            height: initial;

            .selected {
                background-color: #b54848;
            }
        }
    }

    @media screen and (min-width: 780px) {
        position: relative;
        width: initial;
        height: initial;
    }

}