.about-me {
    height: 100vh;
    padding-top: 4rem;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    .about-me__profile-picture {
        border-radius: 33%;
        border: 2px solid white;
        margin-bottom: 2rem;
        width: 12rem;
    }

    .about-me__skills {
        background-color: black;
        color: white;
        margin: 0 auto;
        width: 50%;

        .about-me__heading {
            color: white;
        }

        .about-me__skills-list {
            justify-content: center;
            display: flex;
            padding: 0;
            list-style-type: none;

            .about-me__skills-item {
                padding: 2rem;
            }
        }
    }
}