.navbar__icon {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.5rem;

    .navbar__icon__bar1, .navbar__icon__bar2, .navbar__icon__bar3 {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
    }

    &.isOpen .navbar__icon__bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }

    &.isOpen .navbar__icon__bar2 {
        opacity: 0;
    }

    &.isOpen .navbar__icon__bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
}